<div class="card">
    <div class="card-header">
        <div class="card-header-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a href="#game" class="nav-link active" data-toggle="tab" role="tab" aria-controls="game" aria-selected="true">Game</a>
                </li>
                <li class="nav-item">
                    <a href="#rules" class="nav-link" data-toggle="tab" role="tab" aria-controls="rules" aria-selected="false">Rules</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card-body">
        <div class="tab-content">
            <div id="game" class="tab-pane fade active show">
                @Html.Partial("_Game")
            </div>

            <div id="rules" class="tab-pane fade">
                @Html.Partial("_Rules")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        let difficulty = "@Common.Difficulty.Begginer.ToString()"
        let playMode = "@Common.PlayMode.PlayerVComputer.ToString()"

        let lastMoveP1 = "";
        let lastMoveP2 = "";

        let selectedMoveP1 = "";
        let selectedMoveP2 = "";

        $("#newGame").click(function (event) {
            difficulty = $("#difficulty").val();
            playMode = $("#playMode").val();

            if (playMode === "@Common.PlayMode.PlayerVComputer.ToString()") {
                $("#playerSelect").removeClass("invisible");
                $("#playerSelect").addClass("visible");
            }
            else {
                $("#playerSelect").removeClass("visible");
                $("#playerSelect").addClass("invisible");
            }

            $("#currPlayMode").html(playMode.toString());
            $("#currDifficulty").html(difficulty.toString());

            $("#winNum").html("0");
            $("#drawNum").html("0");
            $("#lossNum").html("0");
        });

        $("#select-@Common.Moves.Rock.ToString()").click(function (event) {
            selectedMoveP1 = "@Common.Moves.Rock.ToString()";
            $("#selectedMoveP1").html("@Common.Moves.Rock.ToString()");
        });

        $("#select-@Common.Moves.Paper.ToString()").click(function (event) {
            selectedMoveP1 = "@Common.Moves.Paper.ToString()";
            $("#selectedMoveP1").html("@Common.Moves.Paper.ToString()");
        });

        $("#select-@Common.Moves.Scissors.ToString()").click(function (event) {
            selectedMoveP1 = "@Common.Moves.Scissors.ToString()";
            $("#selectedMoveP1")..html("@Common.Moves.Scissors.ToString()");
        });

        $("#makeMove").click(function (event) {
            $.ajax({
                url: "@Url.Action("MakeMove", "Home")",
                type: "POST",
                data: { lastMoveP1: lastMoveP1, lastMoveP2: lastMoveP2, difficulty: difficulty, playMode: playMode },
                success: function (response) {
                    lastMoveP1 = response.p1Move;
                    lastMoveP2 = response.p2Move;
                }
            })
        });
    </script>
}
